/**********************************************************/
/************** GENERAL ***********************************/
/**********************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, 'Roboto', sans-serif;
}

body {
    background-color: #eeeeee;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes alert-appearence {
    from {
        bottom: 0px;
        opacity: 0;
    }

    to {
        bottom: 40px;
        opacity: 100%;
    }
}

#app-alert {
    position: fixed;

    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    opacity: 100%;

    /* https://www.w3schools.com/css/css3_shadows.asp */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

    min-width: 420px;
    height: 80px;

    animation-name: alert-appearence;
    animation-duration: 2s;
}

#app-alert .success {
    background-color: #5cb85c;
}

#app-alert .error {
    background-color: #d9534f;
}

.app-alert-body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    border-radius: 10px;
    font-size: 24px;
    padding: 12px;
}

.app-alert-body i {
    position: absolute;

    right: 4px;
    top: 4px;

    font-size: 22px;
}

.app-alert-body i:hover {
    cursor: pointer;
}
