.web-app .mapPageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "mapVisualizationHeader mapVisualizationHeader"
        "mapPageMap mapPageMap"
        "mapDownloadDiv mapDownloadDiv"
        "mapPageDateInput mapPageDateInput"
        "regionForm countryForm"
        "cityForm cityForm"
        "mapPageView mapPageView";
    background: #eee;
    font-size: 20px;
    width: 100%;
    height: 100%;

    overflow-y: scroll;
}

.mapDiv {
    grid-area: mapPageMap;
    background-color: transparent;

    height: 600px;

    border: 1px dotted black;
    border-radius: 15px;
    box-sizing: border-box;
}

.dateIntervalInput {
    grid-area: mapPageDateInput;
    margin: 0 10px;
}

h1 {
    grid-area: mapVisualizationHeader;
}

.web-app .main-wrapper .mapPageGrid .map-download-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    grid-area: mapDownloadDiv;
}

.web-app .main-wrapper .map-button-hidden {
    display: none;
}

.web-app .main-wrapper .mapPageGrid .map-download-div .export-map-right {
    margin-left: 16px;
}

.mapVisualizationHeader {
    width: 100%;
}

.mapPageViewButton {
    grid-area: mapPageView;

    margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
    .web-app .mapPageGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: "mapVisualizationHeader"
            "mapPageMap"
            "mapDownloadDiv"
            "mapPageDateInput"
            "regionForm"
            "countryForm"
            "cityForm"
            "mapPageView";
        background: #eee;
        font-size: 12px;

        border: 0;
        padding: 20px;

        box-sizing: border-box;
    }

    .web-app .main-wrapper .mapPageGrid .map-download-div {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        min-height: auto;
    }

    .web-app .main-wrapper .mapPageGrid .map-download-div .export-map-right {
        margin-left: 0;
        margin-top: 16px;
    }
}
