.statistics-2d-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;
}

.statistics-2d-wrapper .grid-container-result-buttons {
    margin-bottom: 0px;
}

@media only screen and (max-width: 800px) {
    .topFiveHeader {
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .topFiveHeader {
        font-size: 18px;
    }
}

@media only screen and (max-width: 330px) {
    .topFiveHeader {
        font-size: 12px;
    }
}

.topFiveHeader {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #065e61;
    text-align: center;
}

.submitButton2.statistics-2d-button {
    margin: 0 40px 0;
}

.optionsCSV {
    display: none;
    border-radius: 10px;
    z-index:2;
}

.optionsCSV{
    background-color: #065c5f;
    width: 185px;

}
.optionsCSV > span{
    display:block;
    background-color: #0d959a;
    color: white;
    border:1px solid black;
    border-radius: 6px;
    margin-top:4px;
}

.optionsCSV>span:hover {
    cursor: pointer;
    background-color: #07676a;
}

.dropdownWrapper{
    z-index: 2;
}

.dropdownWrapper:hover .optionsCSV{
    display: block;
    position: relative;
}