@media only screen and (max-width: 800px){
    .topFiveHeader{
        font-size: 20px;
    }
}
@media only screen and (max-width: 500px){
    .topFiveHeader{
        font-size: 18px;
    }
}
@media only screen and (max-width: 330px){
    .topFiveHeader{
        font-size: 12px;
    }
}

.topFiveHeader{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #065e61;
    text-align: center;
}

#backToFirstStatistics{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border: 2px solid black;
    background-color: #065e61;
}
