.dashboard-attacks-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    padding: 10px 0;
}

.dashboard-attacks-wrapper h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    color: #065e61;
    margin-top: 0px;
    margin-bottom: 10px;
}

.dashboard-attacks-wrapper .line-wrapper {
    display: flex;
    justify-content: center;

    width: 100%;
}

.attacks-dashboard-row:nth-of-type(2n+1) {
    background-color: #222831;
}

.dashboard-attacks-wrapper .dashboard-attack-table {
    margin-top: 12px;
    width: 92%;
    min-width: 1200px;
    overflow-x: scroll;
    align-items: center;
}

.dashboard-attacks-wrapper .dashboard-attack-table table {
    margin-top: 28px;
    display: flex;
}

.dashboard-attacks-wrapper .paging {
    display: flex;
    margin: 20px 0;
}

.dashboard-attacks-wrapper .navigation-button,
.dashboard-attacks-wrapper .page-signs {
    margin: 0 4px;
}

.dashboard-attacks-wrapper .navigation-button:hover {
    cursor: pointer;
}

.dashboard-attacks-wrapper .attacksTable .particularRecord .buttons-cell {
    visibility: hidden;
}

.dashboard-attacks-wrapper .attacksTable .particularRecord:hover .buttons-cell {
    visibility: visible;
}
