.web-app .statisticsFormGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "statisticsFormHeading statisticsFormHeading statisticsFormHeading statisticsFormHeading"
        "firstRow1 firstRow1 firstRow1 firstRow1"
        "firstRow2 firstRow2 firstRow2 firstRow2"
        "attackTypeForm attackTypeForm targetTypeForm targetTypeForm"
        " weaponTypeForm weaponTypeForm damageForm damageForm"
        "regionForm regionForm countryForm countryForm"
        "cityForm cityForm cityForm cityForm"
        "targTypeSelect targTypeSelect targSubtypeSelect targSubtypeSelect"
        "weaponTypeSelect weaponTypeSelect weaponSubtypeSelect weaponSubtypeSelect"

        "specificParagraph specificParagraph specificParagraph specificParagraph"
        "specificTargetName specificTargetName specificTargetNat specificTargetNat"
        "specificGroup specificGroup specificGroup specificGroup"

        "fourthRow fourthRow fourthRow fourthRow"
        "button-1 button-1 button-2 button-2"
        "submitForm submitForm submitForm submitForm";
    box-sizing: border-box;
    border: 1px solid black;
    background: #eee;
    padding: 20px;
    font-size: 20px;
    width: 100%;

    overflow-y: scroll;
}


.dataForm1 {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

input.dataForm1,
.firstRow2 input {
    border: 1px solid #097a75;
    border-radius: 16px;
    background-color: #eee;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 160px;
    padding: 16px 10px;
    text-align: center;
}

.firstRow2 input {
    padding: 10px 10px;
}

.dataForm1::-webkit-inner-spin-button {
    display: none;
}

.dataForm1::-webkit-calendar-picker-indicator {
    background: transparent;
}

.dataForm1::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* GLOBAL */
.dateForm,
.countryForm .regionForm,
.cityForm,
.weaponTypeForm,
.targetTypeForm,
.attackTypeForm,
.targTypeSelect,
.targSubtypeSelect,
.weaponTypeSelect,
.weaponSubtypeSelect,
.specificParagraph,
.specificTargetName,
.specificTargetNat,
.specificGroup,
.damageForm,
.knownForm,
.successForm,
.nrWoundedForm,
.nrTerrForm,
.nrDeathsForm{
    align-items: center;
}

*:focus {
    outline: none;
}

.statisticsFormGrid>div:not(.statisticsFormHeading),
.mapPageGrid>div:not(.mapVisualizationHeader),
.grid-container-update>div:not(.update-header) {
    background-color: #eee;
    color: #065e61;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: dashed 2px #065e6141;
    border-radius: 15px;
    transition: color 0.5s linear, border 0.5s linear, background-color 0.5s linear;


    /*box-shadow: 1px 2px 5px;*/
}

.web-app .statisticsFormGrid,
.web-app .mapPageGrid,
.web-app .grid-container-update {
    padding: 10px 50px;
}

.web-app .statisticsFormGrid h1,
.web-app .mapPageGrid h1,
#attacks-page .attacks-page-header h1, 
.web-app .grid-container-update .update-header h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    color: #065e61;
    margin-top: 0px;
    margin-bottom: 10px;
}

.statisticsFormGrid>div:not(.statisticsFormHeading):hover,
.mapPageGrid>div:not(.mapVisualizationHeader):hover,
.grid-container-update>div:not(.update-header):hover {
    background-color: #f1f1f16b;
    display: flex;
    border: dashed 2px #065e61;
    background-color: #065e6109;
    /* box-shadow: 1px 2px 4px; */
}

/*  HEADING  */

.statisticsFormHeading {
    grid-area: statisticsFormHeading;
}

/* FIRST ROW 1 */
.firstRow1 {
    grid-area: firstRow1;
    margin: 0 10px;
}

/* FIRST ROW 2 */
.firstRow2 {
    grid-area: firstRow2;
    margin: 0 10px;
}

.firstRow2 ul,
.slideContainer {
    width: 100%;
}

.nrTerrForm {
    margin: 5px 0;
}

#dateInputStart, #dateInputFinal {
    height: 20px;
}

/* https://www.youtube.com/watch?v=BrpiNUf2XCk */
#rangeTerr.slider,
#rangeDeaths.slider,
#rangeWound.slider {
    -webkit-appearance: none;
    background: linear-gradient(90deg, #097a746c 20%, #b955557a);
    width: 60%;
    height: 30px;
    transition: opacity 0.2s;
    margin-top: 10px;
    margin-left: 30px;
    position: relative;

}

.slideContainer div {
    display: inline-block;
    position: relative;
    width: 15%;
    padding-left: 20px;
}

.slideContainer div span {
    position: absolute;
    left: 100px;
    bottom: 5px;
    font-weight: bold;
}

#rangeTerr.slider::before,
#rangeDeaths.slider::before,
#rangeWound.slider::before {
    content: "0";
    color: #065e61;
    position: absolute;
    font-size: 16px;
    bottom: 4px;
    left: -20px;
}

#rangeTerr.slider::after,
#rangeDeaths.slider::after,
#rangeWound.slider::after {
    content: "25000";
    color: #065e61;
    position: absolute;
    font-size: 16px;
    bottom: 4px;
    right: -48px;
}

#rangeDeaths.slider::after {
    content: "2000";
}

#rangeWound.slider::after {
    content: "10000";
}

#rangeTerr.slider::-webkit-slider-thumb,
#rangeDeaths.slider::-webkit-slider-thumb,
#rangeWound.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 26px;
    width: 26px;
    border-radius: 16px;
    background: #065e61;
}

/* Work in Mozilla Firefox browser */
#rangeTerr.slider::-moz-range-thumb,
#rangeDeaths.slider::-moz-range-thumb,
#rangeWound.slider::-moz-range-thumb {
    height: 26px;
    width: 26px;
    border-radius: 16px;
    background: #065e61;
}





/* ATTACK TYPE FORM */

.attackTypeForm {
    grid-area: attackTypeForm;
}

.attackTypeForm div,
.targetTypeForm div,
.weaponTypeForm div,
.damageForm div {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 10px 26px;
}

.attackTypeForm .input1,
.targetTypeForm .input1,
.weaponTypeForm .input1 {
    width: 50%;
}

/* .attackTypeForm,
.weaponTypeForm,
.targetTypeForm,
.damageForm {
    margin-left: 10px;
    margin-right: 10px;
} */

.attackTypeForm h3,
.weaponTypeForm h3,
.targetTypeForm h3,
.damageForm h3,
.regionForm h3,
.cityForm h3,
.targTypeSelect h3,
.targSubtypeSelect h3,
.weaponTypeSelect h3,
.weaponSubtypeSelect h3,
.specificParagraph h3, 
.specificTargetName h3,
.specificTargetNat h3, 
.specificGroup h3,
.countryForm h3,
.grid-container-update h3 {
    color: #eee;
    font-size: 20px;
    background-color: #065e61;
    display: inline;
    margin: 10px;
    padding: 10px;
    border-radius: 40px;
    text-align: center;
}


/* DAMAGE FORM */

.damageForm {
    grid-area: damageForm;
}

.damageForm div {
    text-align: center;
}

.damageForm .input1 {
    width: 100%;
}

/* WEAPON FORM */
.weaponTypeForm {
    grid-area: weaponTypeForm;
}

.targetTypeForm {
    grid-area: targetTypeForm;
}

.targTypeSelect{
    grid-area: targTypeSelect;
}
.targSubtypeSelect{
    grid-area: targSubtypeSelect;
}
.weaponTypeSelect{
    grid-area: weaponTypeSelect;
}
.weaponSubtypeSelect{
    grid-area: weaponSubtypeSelect;

}

.specificParagraph{
    grid-area: specificParagraph;
}

.specificTargetName{
    grid-area: specificTargetName;
}

.specificTargetNat{
    grid-area: specificTargetNat;
}

.specificGroup{
    grid-area: specificGroup;
}

/* FOURTH ROW */
.statisticsFormGrid > div,
.grid-container-update > div
{
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}

.fourthRow {
    grid-area: fourthRow;
}

.fourthRow div {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}

#label1 {
    font-size: 20px;
    font-weight: bold;
}


/* REGION FORM */
.regionForm {
    grid-area: regionForm;
}

/* COUNTRY FORM */
.countryForm {
    grid-area: countryForm;
}
.cityForm{
    grid-area: cityForm;
}

/* SUBMIT FORM */
.submitForm {
    grid-area: submitForm;
}


#dateInput {
    height: 20px;
}


/* CHECKBOX */


/* Inspired by a tutorial */
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    display: block;
    border-radius: 0px;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0;
    color: #065e61;
    cursor: pointer;
}


input[type="checkbox"]+label::before {
    /*label immediately after*/
    content: '';
    width: 20px;
    height: 20px;
    border: 1.5px solid #065e61;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .15s, border-color .1s;
}

input[type="checkbox"]:checked+label::before {
    width: 10px;
    /*decrease width to make a rectangle*/
    height: 20px;
    top: -5px;
    left: 5px;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
}

/* SUBMIT FORM */


.submitForm {
    display: flex;
    margin-bottom: 50px;
}



#submitButton {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: large;
    color: #065e61;
    z-index: 100;
    cursor: pointer;
    transition: color 0.3s linear;
}

#submitButton2 {
    color: #065e61;
    font-size: 16px;
    border: 2px solid #065e61;
    border-radius: 20px;
    width: 280px;
    height: 50px;
    text-align: center;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
    margin: 0 auto;
    overflow: hidden;
}

#submitButton2 span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #065e61;
    transform: translateY(56px);
    /*   Le duce mai jos */
    border-radius: 100px;
    transition: 0.5s;
    z-index: -1;
}

#submitButton:hover {
    color: #eee;
}

#submitButton2:hover span {
    transform: translateY(0) scale(2);
}

#submitButton2 #span1 {
    transition-delay: 0;
    left: 0;
}

#submitButton2 #span2 {
    transition-delay: 0.2s;
    left: 25%;
}

#submitButton2 #span3 {
    transition-delay: 0.4s;
    left: 50%;
}

#submitButton2 #span4 {
    transition-delay: 0.6s;
    left: 75%;
}
