.web-app .mapPageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "mapVisualizationHeader mapVisualizationHeader"
        "mapPageMap mapPageMap"
        "mapPageDateInput mapPageDateInput"
        "regionForm countryForm"
        "cityForm cityForm"
        "mapPageView mapPageView";
    box-sizing: border-box;
    border: 1px solid black;
    background: #eee;
    font-size: 20px;
    width: 100%;
    height: 100%;

    overflow-y: scroll;
}

.mapDiv {
    grid-area: mapPageMap;
    background-color: transparent;

    height: 600px;

    border: 1px dotted black;
    border-radius: 15px;
    box-sizing: border-box;
}

.dateIntervalInput {
    grid-area: mapPageDateInput;
    margin: 0 10px;
}

.mapVisualizationHeader {
    grid-area: mapVisualizationHeader;
}

.mapVisualizationHeader h1 {
    width: 100%;
}

.mapPageViewButton {
    grid-area: mapPageView;

    margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
    .web-app .mapPageGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: "mapVisualizationHeader"
            "mapPageMap"
            "mapPageDateInput"
            "regionForm"
            "countryForm"
            "cityForm"
            "mapPageView";
        background: #eee;
        font-size: 12px;

        border: 0;
        padding: 20px;

        box-sizing: border-box;
    }
}
