/**********************************************************/
/************** GENERAL ***********************************/
/**********************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* font-size: 10px; */
    font-family: Arial, Helvetica, 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.presentation{
    width: 100%;
    height: 100%;
}

/**********************************************************/
/************** PRESENTATION SITE *************************/
/**********************************************************/

body{
    background-color: #eeeeee;
}

body .presentation {
    display: block;
    margin-top: 60px;

    font-size: 10px;
}

.presentation h2 {
    display: block;
    font-size: 30px;
    margin-bottom: 50px;
}

.presentation h3 {
    font-size: 20px;
}

.presentation span {
    margin: 20px;
}

.presentation p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 16px;
}

body .presentation .grid-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "login login login art art art"
        "about about about about about about"
        "col-1 col-1 col-2 col-2 col-3 col-3"
        "us us us us us us"
        "profil1 profil1 profil2 profil2 profil3 profil3"
        "links links links links contact contact";
}

.presentation .login {
    grid-area: login;
}

.presentation .art {
    grid-area: art;
}

.presentation .about {
    grid-area: about;
}

.presentation .col-1 {
    grid-area: col-1;
}

.presentation .col-2 {
    grid-area: col-2;
}

.presentation .col-3 {
    grid-area: col-3;
}

.presentation .us {
    grid-area: us;
}

.presentation .profil1 {
    grid-area: profil1;
}

.presentation .profil2 {
    grid-area: profil2;
}

.presentation .profil3 {
    grid-area: profil3;
}

.presentation .links {
    grid-area: links;
}

.presentation .contact {
    grid-area: contact;
}

.presentation .nav {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    min-height: 60px;
    background-color: #035e63;
    box-shadow: 2px 5px 15px 10px #035e63;
    width: 100%;
    z-index: 100;
}

.presentation header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.presentation header ul li a {
    display: block;
    font-size: 20px;
    line-height: 1;
    padding: 20px 25px;
    text-decoration: none;
    color: #eeeeee;
    background-color: transparent;
    transition: color .3s linear,
        background-color .3s linear;
    border-left: dashed #eeeeee 1.5px;
}

.presentation .nav img {
    height: 60px;
}

.presentation header {
    position: relative;
    display: block;
}

.presentation header h3 {
    display: inline;
    font-size: 30px;
    padding: 10px 10px;
    margin-right: auto;
    margin-top: 10px;
    color: #eeeeee;
}

.presentation header ul li a:visited {
    color: #eeeeee
}

.presentation header ul li a:hover {
    color: white;
    background-color: #175053;
    box-shadow: #175053 2px 0 5px 10px;
}

.presentation .grid-container>div {
    display: flex;
    align-items: center;
}

/************** Login *************************************/

.presentation .login {
    height: calc(100vh - 60px);
    position: relative;
}

.presentation .login h2 {
    color: #eeeeee;
    margin-top: 10px;
}

.presentation .login .widget {
    text-align: center;
    margin: auto auto;
    min-width: 60%;
    /* border: 2px solid #00adb5; */
    box-shadow: #044e52 20px 20px 50px 10px;
    border-radius: 20px;
    padding: 20px;
    background-color: #00acb567;
}

.presentation .login .widget-sign-up {
    display: none;
}

.presentation .login .widget label {
    display: block;
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
    color: #eeeeee;
}

.presentation .login .widget input:not([type='button']) {
    display: block;
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid black;
    padding: 5px;
    width: 100%;
    transition: border-color .6s linear;
    font-size: 16px;
    color: #eeeeee;
}

.presentation .login .widget input:focus:not([type='button']) {
    border-bottom: 1px solid white;
}

.presentation .login .widget input:hover:not([type='button']) {
    border-bottom: 1px solid white;
    /* background-color:#0662796e ; */
}

.presentation .login .widget input[type='button'] {
    display: block;
    margin: 40px auto 20px auto;
    padding: 5px;
    width: 50%;
    border-style: solid;
    border-radius: 30px;
    font-size: 20px;
    transition: color .3s linear,
        background-color .3s linear;
    color: white;
    background-color: #175053;
    box-shadow: #175053 2px 0 5px 10px;
}

.presentation .login .widget input:hover[type='button'] {
    opacity: 0.8;
    cursor: pointer;
    background-color: #eeeeee;
    color: #175053;
}

.presentation .login .widget input:focus {
    box-shadow: none;
    outline-offset: 0;
    outline: none;
    outline-color: transparent;
}

.presentation .login .widget label i {
    display: inline-block;
    margin: 5px;
}

.presentation .login .widget p {
    text-align: center;
    color: #eeeeee;
    opacity: 0.3;
    margin: 0 auto 0 auto;
}

.presentation .login .widget a {
    color: #eeeeee;
    font-size: 15px;
}

.presentation .login .background {
    margin: 0;
    height: 100%;
    width: 200%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/************** ART ***************************************/

.presentation .art img {
    max-width: 80%;
}

/************** ABOUT *************************************/

.presentation .grid-container .about,
.presentation .grid-container .us {
    max-height: 100%;
    display: block;
    background-color: #eeeeee;
}

.presentation .about h2,
.presentation .us h2 {
    display: inline-flex;
    margin: 50px 50px 20px 60px;
    padding: 0 10px 0 10px;
    border-radius: 30px;
    color: #eeeeee;
    background-color: #175053;
    box-shadow: #175053 2px 0 5px 10px;
}

.presentation .about p,
.presentation .us p {
    border-style: solid 2px black;
    margin-bottom: 8px;
}

.about .about-body,
.col-1 p,
.col-2 p,
.col-3 p,
.us .us-body,
.profil1 p,
.profil2 p,
.profil3 p {
    padding: 10px 10px;
    margin: 30px 20px;
    border-radius: 10px;
    background-color: #1750531e;
}

.about img,
.us img {
    float: right;
    max-height: 100%;
    margin-left: 30px;
}

/* col-1 col-2 col-3*/
.col-1,
.col-2,
.col-3,
.profil1,
.profil2,
.profil3 {
    flex-direction: column;
    padding: 20px;
}

.col-1 img,
.col-2 img,
.col-3 img,
.profil1 img,
.profil2 img,
.profil3 img {
    max-width: 100%;
    min-height: 250px;
}

.col-1 p,
.col-2 p,
.col-3 p,
.profil1 p,
.profil2 p,
.profil3 p {
    padding: 10px;
    margin: 20px 0;
}

/************** US ***************************************/

.presentation .grid-container .us {
    border-top: dashed 2px #175053;
}

/************** PROFILES **********************************/

.profil1 {
    position: relative;
}

.profil1 .background1 {
    margin: 0;
    height: calc(100% + 20px);
    width: calc(300% + 25px);
    z-index: -1;
    position: absolute;
    top: -20px;
    left: -20px;
    background-image: url("/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.profil1,
.profil2,
.profil3 {
    border-right: dashed 2px #00acb567;
}

.profil1 i,
.profil2 i,
.profil3 i {
    color: #eeeeee;
    font-size: 20px;
    margin-left: 10px;
}

.profil1 img,
.profil2 img,
.profil3 img {
    max-width: 50%;
    min-height: 50px;
}

.profil1 p,
.profil2 p,
.profil3 p {
    background-color: #00acb567;
    font-style: italic;
    color: #eeeeee;
    text-align: center;
    max-width: 300px;
}

/************** FOOTER ************************************/

/************** LINKS *************************************/

.presentation .links {
    background-color: #035e63;
    padding: 30px 50px;
    border-top: #eeeeee 2px dashed;
}

.presentation .links ul {
    margin-left: 30px;
    margin-top: 10px;
    list-style: none;
}

.presentation .links ul li {
    margin: 5px;
}

.presentation .links ul a {
    color: #eeeeee;
    font-size: 16px;
}

.presentation .links ul a:hover {
    opacity: 0.6;
}

.presentation .links ul i {
    color: #eeeeee;
    font-size: 20px;
    margin-right: 10px;
}

.presentation .links h3 {
    color: #eeeeee;
}

/************** CONTACT ***********************************/
.presentation .grid-container .links,
.presentation .grid-container .contact {
    flex-direction: column;
    align-items: initial;
}

.presentation .contact {
    border-top: 2px dashed #175053;
    position: relative;
}

.presentation .contact h3 {
    padding: 20px 50px;
    color: #035e63;
}

.presentation .contact i {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    color: #175053
}

.presentation .contact ul {
    margin-left: 40px;
}

.presentation .contact ul li {
    font-size: 15px;
}

.presentation .contact .fa-briefcase {
    font-size: 30px;
    top: 100px;
}

.presentation .contact .number {
    font-size: 16px;
    font-style: italic;
}

.presentation .contact .adress {
    margin-top: 20px;
    font-size: 10px;
    margin-bottom: 20px;
    margin-right: 60px;
}

/************** MEDIA QUERIES *****************************/

@media only screen and (max-width: 1100px) {
    .presentation .grid-container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: "login login login login login login"
            "about about about about about about"
            "col-1 col-1 col-2 col-2 col-3 col-3"
            "us us us us us us"
            "profil1 profil1 profil2 profil2 profil3 profil3"
            "links links links links contact contact";
    }
    
    .col-1 img,
    .col-2 img,
    .col-3 img {
        max-width: 100%;
        min-height: 200px;
    }

    .login .background {
        width: 100%;
    }
}

@media only screen and (max-width: 955px) {
    .mail {
        display: none;
    }

    .profil1 p,
    .profil2 p,
    .profil3 p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 850px) {
    .about p,
    .us p {
        font-size: 14px;
    }
    
    .col-1 img,
    .col-2 img,
    .col-3 img {
        max-width: 100%;
        min-height: 150px;
    }

    .col-1 p,
    .col-2 p,
    .col-3 p {
        font-size: 14px;
        text-align: center;
    }
}

@media only screen and (max-width: 650px) {
    .grid-container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
        grid-template-areas: "login login login login login login"
            "about about about about about about"

            "col-1 col-1 col-1 col-1 col-1 col-1"
            "col-2 col-2 col-2 col-2 col-2 col-2"
            "col-3 col-3 col-3 col-3 col-3 col-3"

            "us us us us us us"
            "profil1 profil1 profil1 profil1 profil1 profil1"
            "profil2 profil2 profil2 profil2 profil2 profil2"
            "profil3 profil3 profil3 profil3 profil3 profil3"

            "links links links links contact contact";
    }

    .profil1 .background1 {
        width: calc(100% + 20px);
        height: calc(300% + 70px);
    }

    .profil1,
    .profil2,
    .profil3 {
        border: none;
    }

    .mail {
        display: inline;
    }

    header ul li a {
        font-size: 16px;
        padding: 16px 20px;
    }

    .profil1 p,
    .profil2 p,
    .profil3 p {
        font-size: 16px;
    }

    .col-1 p,
    .col-2 p,
    .col-3 p {
        font-size: 16px;
        text-align: justify;
    }

    .col-1,
    .col-2,
    .col-3 {
        margin: 0 0px;
        padding: 40px 50px;
        border-top: dashed 2px #175053;
    }

    .col-1 img,
    .col-2 img,
    .col-3 img {
        max-width: 70%;
    }

    .about p,
    .us p {
        font-size: 16px;
    }

    .contact .number {
        font-size: 14px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 565px) {
    .contact ul {
        margin-left: 20px;
    }

    .contact i {
        font-size: 30px;
    }
}

@media only screen and (max-width: 520px) {
    .grid-container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
        grid-template-areas: "login login login login login login"
            "about about about about about about"

            "col-1 col-1 col-1 col-1 col-1 col-1"
            "col-2 col-2 col-2 col-2 col-2 col-2"
            "col-3 col-3 col-3 col-3 col-3 col-3"

            "us us us us us us"
            "profil1 profil1 profil1 profil1 profil1 profil1"
            "profil2 profil2 profil2 profil2 profil2 profil2"
            "profil3 profil3 profil3 profil3 profil3 profil3"

            "links links links contact contact contact";
    }

    .links {
        padding-left: 20px;
        padding-right: 20px;
    }

    .links ul {
        padding-left: 0;
        margin-left: 5px;
    }

    .links ul a {
        color: #eeeeee;
        font-size: 12px;
    }

    .links ul i {
        color: #eeeeee;
        font-size: 16px;
        margin-right: 10px;
    }

    .login .widget-login,
    .login .widget-sign-up {
        min-width: 80%;
    }

    #signup {
        display: none;
    }
}

@media only screen and (max-width: 430px) {
    header ul li a {
        font-size: 16px;
        padding: 16px 10px;
    }
}

@media only screen and (max-width: 360px) {
    #about {
        display: none;
    }

    .col-1,
    .col-2,
    .col-3 {
        padding: 20px;
    }

    .col-1 img,
    .col-2 img,
    .col-3 img {
        max-width: 90%;
    }

    .col-1 p,
    .col-2 p,
    .col-3 p,
    .us p,
    .about p {
        font-size: 14px
    }

    .contact h3,
    .links h3 {
        font-size: 14px;
    }

    .fa-briefcase {
        display: none;
    }
}

@media only screen and (max-width: 346px) {
    .profil1 .background1 {
        height: calc(300% + 20px);
    }
}

@media only screen and (max-width: 322px) {
    .profil1 .background1 {
        height: calc(300% + 20px);
    }

    .contact .number {
        font-size: 12px;
    }

    #adresa {
        display: none;
    }

    #icon {
        left: 60px;
    }
}

@media only screen and (max-width: 303px) {
    .profil1 .background1 {
        height: calc(300% + 45px);
    }
}

@media only screen and (max-width: 302px) {
    .profil1 .background1 {
        height: calc(300% + 70px);
    }
}

@media only screen and (max-width: 284px) {
    .profil1 .background1 {
        height: calc(300% + 92px);
    }
}

/**********************************************************/
/************** WEB APP ***********************************/
/**********************************************************/

body .web-app {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100vh;

    font-size: 20px;
}

.web-app aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 160px;
    height: 100%;

    color: #EEE;
    background-image: url("/img/home-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.web-app aside .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 60px;

    font-size: 40px;
    font-weight: 500;
}

.web-app aside .options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: calc(100% - 60px);
}

.web-app aside .options .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 60px;

    font-size: 24px;
}

.web-app aside .options .option .icon {
    width: 14%;
    margin-left: 6px;
}

.web-app aside .options .option .text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 60%;
    margin-right: 6px;
}

.web-app aside .options .option:hover{
    animation-name: asideMoveRight;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes asideMoveRight {
    from {
        
        width: 100%;
    }

    to {
        width: 80%;
    }
}

.web-app aside .options .option:hover {

    cursor: pointer;
    background-color: #343d4b;
}

.web-app .main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: calc(100% - 160px);
    height: 100%;
}

.web-app .main-wrapper header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 60px;

    color: #EEE;
    background-color: #393e46;
}

.web-app .main-wrapper main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: calc(100% - 60px);

    background-color: #EEEEEE;
}

/***************** HOME**********************************************/

#home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 100%;
}

#home .left-container,
#home .right-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 42%;
    height: 88%;

    border: dashed 2px #eee;
}

#home .description{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 92%;
}

#home .description .title{
    font-size: 24px;
    font-weight: 500;
}

#home .description .text{
    margin-top: 8px;

    font-size: 18px;
}

#home .left-container:hover,
#home .right-container:hover{
    cursor: pointer;
    border: dashed 2px #00acb567;
    border-radius: 16px;
}

/************** Statistics form ***************/

.web-app .statisticsForm {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    border: 1px solid black;
    background: linear-gradient(rgb(130, 136, 146), rgb(252, 252, 252));
    padding: 20px;
    font-size: 20px;
    z-index: 2;

    overflow-x: hidden;
}

.statisticsForm>div {
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    /*border: 1.5px solid black;*/
    border-radius: 14px;
    /*box-shadow: 1px 2px 5px;*/
}

.web-app .statisticsForm>h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.statisticsForm>div:hover {
    background-color: #f1f1f16b;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    border: 1.5px solid black;
    border-radius: 10px;
    box-shadow: 2px 4px 16px;
}

.dateForm {
    flex: 1;
    margin-left: 10px;
}

.nrTerrForm {
    flex: 1;
}

.nrDeathsForm {
    flex: 1;
}

.nrWoundedForm {
    flex: 1;
}

.successForm {
    flex: 1;
}

.knownForm {
    flex: 1;
}

.damageForm {
    flex: 1;
}

.attackTypeForm {
    flex: 1;
}

.targetTypeForm {
    flex: 1;
}

.weaponTypeForm {
    flex: 1;
}

.regionForm {
    flex: 1;
}

.countryForm {
    flex: 1;
}

#dateInput {
    height: 20px;
}

/*Animation on elements inspired by https://www.w3schools.com/css/css3_animations.asp */

.statisticsForm>div>div>input:hover {
    animation-name: slightColorChangeInput;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.statisticsForm>div>div>label:hover {
    animation-name: slightColorChange;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    cursor: pointer;
}

h1:hover {
    animation-name: animationHeader;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes slightColorChange {
    from {
        color: black;
    }

    to {
        color: gray;
    }
}

@keyframes slightColorChangeInput {
    from {
        color: black;
    }

    to {
        background-color: rgba(115, 172, 224, 0.2);
    }
}

@keyframes animationHeader {
    from {
        margin-t: 0px;
    }

    to {
        margin-top: 8px;
    }
}

#nrWoundedInput {
    width: 30px;
    height: 20px;
    border: 2px solid gray;
    border-radius: 5px;
}

#nrTerrInput {
    width: 30px;
    height: 20px;
    border: 2px solid gray;
    border-radius: 5px;
}

#nrDeathsInput {
    width: 30px;
    height: 20px;
    border: 2px solid gray;
    border-radius: 5px;
}

.videoContainer {
    /* margin-left: 100px;*/
    position: absolute;
    opacity: 25%;
    overflow: hidden;
}

.submitForm {
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
}

#submitButton {
    flex: 1;
    height: 50px;
    border: 1.5px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#submitButton:hover {
    flex: 1;
    height: 50px;

    border: 1.5px solid black;
    border-radius: 10px;
    box-shadow: 2px 3px 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #dfdfdf;

    cursor: pointer;
}

/**************************************** Map Section **********************************************/

#mapDiv {
    width: 100%;
    height: 100%;

    background-color: transparent;
}

#dateInput {
    border: 2px solid gray;
    border-radius: 5px;
}

/**************************************** Attacks Section *******************************************/

#attacksPage {
    width: 100%;
    height: 100%;

    font-size: 28px;
}

#attacksPage .searchAnAttack,
#attacksPage .mostInterestingAttacks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
}

#attacksPage .mostInterestingAttacks {
    margin-top: 20px;
}

#attacksPage .searchAnAttack .searchZone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-size: 22px;
}

#attacksPage .searchAnAttack input,
#attacksPage .searchAnAttack button {
    font-size: 22px;
}

#attacksPage .searchAnAttack .inputZone {
    margin-top: 12px;
}

#attacksPage .searchAnAttack button {
    margin-top: 12px;

    height: 36px;
    width: 100px;
    border: 1.5px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px 5px;
}

#attacksPage .searchAnAttack button:hover {
    box-shadow: 2px 3px 5px;
    background-color: #dfdfdf;
    cursor: pointer;
}

/**************************************** One attack *******************************************/
.thatAttackGrid{
    margin:20px 0 0 0px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "attackHeader attackHeader attackHeader attackHeader attackHeader attackHeader"
            "attackAbout attackAbout attackAbout attackAbout mapAttack mapAttack" 
            "attackDetailTitle1 attackDetailTitle1 attackDetailTitle2 attackDetailTitle2 attackDetailTitle3 attackDetailTitle3"
            "attackDetailText1 attackDetailText1 attackDetailText2 attackDetailText2 attackDetailText3 attackDetailText3"
            "attackOtherDetailsHeading attackOtherDetailsHeading attackOtherDetailsHeading attackOtherDetailsHeading attackOtherDetailsHeading attackOtherDetailsHeading"
            "attackOtherDetails attackOtherDetails attackOtherDetails attackOtherDetails attackOtherDetails attackOtherDetails"
            "byKaggle byKaggle byKaggle byKaggle byKaggle byKaggle"
            ;
}

.attackHeader{
    display:flex;   
    flex-direction: column;
    grid-area: attackHeader;
    align-items: center;
    justify-content: center;
    color:crimson;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}

.attackAbout{
    display: flex;
    grid-area: attackAbout;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 26px;
    background-color: silver;
    border-radius: 10px;
    padding:10px;
}

.mapAttack{
    display: flex;
    grid-area: mapAttack;
    height: 200px;
    margin-left:10px;
    margin-bottom: 26px;
}


.attackDetailTitle1{
    display: flex;
    grid-area: attackDetailTitle1;
    margin-left: 10px;
    margin-right: 20px;
    background-color: silver;
    border-radius: 20px;
    padding:6px;

}

.attackDetailTitle2{
    display: flex;
    grid-area: attackDetailTitle2;
    margin-left: 10px;
    margin-right: 20px;

    background-color: silver;
    border-radius: 20px;
    padding:6px;

}

.attackDetailTitle3{
    display: flex;
    grid-area: attackDetailTitle3;
    margin-left: 10px;
    margin-right: 20px;

    background-color: silver;
    border-radius: 20px;
    padding:6px;

}


.attackDetailText1{
    display: flex;
    grid-area: attackDetailText1;
    
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 20px;

    background-color: silver;
    border-radius: 10px;
    padding:6px;

}

.attackDetailText2{
    display: flex;
    grid-area: attackDetailText2;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 20px;

    background-color: silver;
    border-radius: 10px;
    padding:6px;

}

.attackDetailText3{
    display: flex;
    grid-area: attackDetailText3;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 20px;

    background-color: silver;
    border-radius: 10px;
    padding:6px;

}

.attackOtherDetailsHeading{
    display: flex;
    grid-area: attackOtherDetailsHeading;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    color:crimson;

}

.attackOtherDetails{
    display: flex;
    grid-area: attackOtherDetails;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: silver;
    border-radius: 10px;
    padding:6px;

}

.byKaggle{
    display: flex;
    grid-area: byKaggle;
    background-color: #345f61;
}