
@media screen and (max-width:2000px), screen and (min-width:1000px){
.web-app .statisticsFormGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "statisticsFormHeading statisticsFormHeading statisticsFormHeading statisticsFormHeading"
                            "firstRow1 firstRow1 firstRow1 firstRow1"
                            "firstRow2 firstRow2 firstRow2 firstRow2"
                            "attackTypeForm targetTypeForm weaponTypeForm damageForm"
                            "regionForm regionForm countryForm countryForm"
                            "fourthRow fourthRow fourthRow fourthRow"
                            "submitForm submitForm submitForm submitForm";
    box-sizing: border-box;
    border: 1px solid black;
    background: linear-gradient(rgb(130, 136, 146), rgb(252, 252, 252));
    padding: 20px;
    font-size: 20px;
    width: 100%;


    overflow-y: scroll;
}
}
@media screen and (max-width:999px), screen and (min-width:600px){
    .web-app .statisticsFormGrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "statisticsFormHeading statisticsFormHeading statisticsFormHeading statisticsFormHeading"
                                "firstRow1 firstRow1 firstRow1 firstRow1"
                                "firstRow2 firstRow2 firstRow2 firstRow2"
                                "attackTypeForm attackTypeForm targetTypeForm targetTypeForm"
                                "weaponTypeForm weaponTypeForm damageForm damageForm"
                                "regionForm regionForm countryForm countryForm"
                                "fourthRow fourthRow fourthRow fourthRow"
                                "submitForm submitForm submitForm submitForm";
        box-sizing: border-box;
        border: 1px solid black;
        background: linear-gradient(rgb(130, 136, 146), rgb(252, 252, 252));
        padding: 20px;
        font-size: 20px;
        width: 100%;
    
    
        overflow-y: scroll;
    }
}
@media screen and (max-width:599px){
    .web-app .statisticsFormGrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "statisticsFormHeading"
                                "firstRow1"
                                "firstRow2"
                                "attackTypeForm"
                                "targetTypeForm"
                                "weaponTypeForm"
                                "damageForm"
                                "regionForm"
                                "countryForm"
                                "fourthRow"
                                "submitForm";
        box-sizing: border-box;
        border: 1px solid black;
        background: linear-gradient(rgb(130, 136, 146), rgb(252, 252, 252));
        padding: 10px;
        font-size: 12px;
        width: 100%;
    
    
        overflow-y: scroll;
    }
}

.statisticsFormGrid>div {
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid black;
    border-radius: 14px;
    /*box-shadow: 1px 2px 5px;*/
}

.web-app .statisticsFormGrid>h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.statisticsFormGrid>div:hover {
    background-color: #f1f1f16b;
    padding: 20px;
    margin-bottom: 40px;
    display: flex;
    border: 1.5px solid black;
    border-radius: 14px;
    box-shadow: 2px 4px 16px;
}

.statisticsFormHeading{
    grid-area:statisticsFormHeading;
}
.firstRow1{
    grid-area:firstRow1;
}
.firstRow2{
    grid-area:firstRow2;
}
.attackTypeForm{
    grid-area:attackTypeForm;
}
.weaponTypeForm{
    grid-area:weaponTypeForm;
}
.targetTypeForm{
    grid-area:targetTypeForm;
}
.damageForm{
    grid-area:damageForm;
}
.attackTypeForm, .weaponTypeForm, .targetTypeForm, .damageForm{
    margin-left: 10px;
    margin-right: 10px;
}
.regionForm{
    grid-area:regionForm;
    margin-left: 10px;
    margin-right: 10px;
}
.countryForm{
    grid-area:countryForm;
    margin-left: 10px;
    margin-right: 10px;
}
.fourthRow{
    grid-area:fourthRow;
}
.submitForm{
    grid-area:submitForm;
}


.dateForm,
.countryForm
.regionForm,
.weaponTypeForm,
.targetTypeForm,
.attackTypeForm,
.damageForm,
.knownForm,
.successForm,
.nrWoundedForm,
.nrTerrForm,
.nrDeathsForm {
    align-items: center;
    justify-content: center;
}

.nrTerrForm{
}

#dateInput {
    height: 20px;
}

/*Animation on elements inspired by https://www.w3schools.com/css/css3_animations.asp */

.statisticsFormGrid>div>div>input:hover {
    animation-name: slightColorChangeInput;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.statisticsFormGrid>div>div>label:hover {
    animation-name: slightColorChange;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    cursor: pointer;
}

h1:hover {
    animation-name: animationHeader;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes slightColorChange {
    from {
        color: black;
    }

    to {
        color: gray;
    }
}

@keyframes slightColorChangeInput {
    from {
        color: black;
    }

    to {
        background-color: rgba(115, 172, 224, 0.2);
    }
}

@keyframes animationHeader {
    from {
        margin-t: 0px;
    }

    to {
        margin-top: 8px;
    }
}

#nrWoundedInput {
    width: 30px;
    height: 20px;
    border: 2px solid gray;
    border-radius: 5px;
}

#nrTerrInput {
    width: 30px;
    height: 20px;
    border: 2px solid gray;
    border-radius: 5px;
}

#nrDeathsInput {
    width: 30px;
    height: 20px;
    border: 2px solid gray;
    border-radius: 5px;
}

.submitForm {
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
}

#submitButton {
    flex: 1;
    height: 50px;
    border: 1.5px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#submitButton:hover {
    flex: 1;
    height: 50px;

    border: 1.5px solid black;
    border-radius: 10px;
    box-shadow: 2px 3px 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #dfdfdf;

    cursor: pointer;
}
